.comparison {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.comparison > svg {
  opacity: 0.3;
}

a.cta {
    display: inline-block;
    justify-content: center;
    margin: 0;
    padding: .75rem 2rem;
    background: linear-gradient(27deg, #3d3d3d, #252525);
    color: #e3e3e3;
    border-radius: 2em;
    font-weight: 300;
    text-decoration: none;
    text-shadow: 0 1px 1px #3d3d3d38;
    box-shadow: 0 1px 2px #25252538;
    transition: all 0.2s ease;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
a.cta span {
  display: inline-block;
  transition: all 0.2s ease;
}
a.cta:hover span {
  transform: translateX(3px);
}
a.cta:hover {
    box-shadow: 0 5px 30px -10px #3d3d3dab;
    filter: brightness(1.05);
}
a.cta:active {
    box-shadow: 0 1px 3px #25252538;
    filter: brightness(0.95);
}
a.cta:active span {
  transform: translateX(5px);
}
a.cta:focus-visible {
  outline: 2px solid
    hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
  outline-offset: 2px;
}
a.cta:focus-visible span {
    transform: translateX(3px);
}
